class {{CLASS_NAME}} < Formula
  desc "{{DESCRIPTION}}"
  homepage "https://github.com/{{GITHUB_USER}}/{{REPO_NAME}}"
  url "https://github.com/{{GITHUB_USER}}/{{REPO_NAME}}/archive/refs/tags/v{{VERSION}}.tar.gz"
  sha256 "{{SHA256}}"
  license "MIT"

  depends_on "rust" => :build

  def install
    system "cargo", "install", *std_cargo_args
  end

  test do
    system "#{bin}/{{BINARY_NAME}}", "--help"
  end
end
